@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

.tictactoe {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.prompt-box {
    box-sizing: border-box;
    border: 5px solid hsla(189, 84%, 81%, 0.997);
    background-color: white;
    border-radius: 14px;
    padding: 10px;
    width: fit-content;
    height: 50  px;
    margin: 2px auto;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
    align-self: center;
}

.board *{
    box-sizing: border-box;
}

.board {
    background-color: hsla(189, 84%, 81%, 0.997);
    margin: 10px auto;
    padding: 20px;
    width: 320px;
    aspect-ratio: 1;
    border-radius: 20px;
}

.board .row {
    display: flex;
    width: 100%;
    height: 32%;
    justify-content: space-between;
    margin-bottom: 1%;
}

.board .square {
    border: 4px solid white;
    border-radius: 100px;
    width: 32%;
    aspect-ratio: 1;
}

.board .square:hover {
    background-color: white;
}

.board .square-img {
    width: 32%;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 100px;
}

@media (max-width: 500px) {
    .board {
        width: 85%;
        margin: 10%;
    }
}