@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');



.header {
    display: flex;
    align-items: center;
    background-color: #1B1A55;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header img {
    width: clamp(75px,10vw,100px);
    height: auto;
    cursor: pointer;
}



.header ul {
    margin-left: auto;
    margin-right: 20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.header h1 {
    font-size: calc(15px + 1.2vw);
}

.header li {
    font-size: calc(7px + 0.7vw);
}