.connect4{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.prompt-box {
    box-sizing: border-box;
    border: 5px solid hsla(224, 81%, 47%, 0.997);
    background-color: white;
    border-radius: 14px;
    padding: 10px;
    width: fit-content;
    height: 50 px;
    margin: 2px auto;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
    align-self: center;
}

.c4board {
    padding: 10px;
    border: 2px solid white;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.column {
    display: flex;
    flex-direction: column;
    border: 2px solid hsla(0, 0%, 100%, 0);
}

.column:hover {
    border-radius: 100px;
    border: 2px solid white;
    background-color: white;

    .tile {
        background-color: #070F2B;
    }

    .red {
        background-color: red;
    }

    .yellow {
        background-color: yellow;
    }
}

.tile {
    border: 2px solid white;
    padding: 30px;
    margin: 4px;
    border-radius: 200px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}