.c4board {
    padding: 10px;
    border: 2px solid white;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.column{
    display: flex;
    flex-direction: column;
}

.tile{
    border: 2px solid white;
    padding: 30px;
    margin: 4px;
    border-radius: 200px;
}
