.resetButton,
.spinResetButton {
    border: none;
    box-sizing: border-box;
    background-color:hsla(224, 81%, 47%, 0.997);
    width: calc(45px + 2vw);
    height: auto;
    border-radius: 200px;
    margin-top: 15px;
}

/* Ai generated code for spinning */
.spinResetButton  {
    animation: spin 0.3s linear infinite reverse; /* Faster spin and reversed direction */
  }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
/* Ai generated code ends */


.resetButton:hover {
    background-color: hsla(189, 84%, 81%, 0.713);
}